.main{
     padding: 2rem 1rem;
}
.main table{
    width: 100%;
  border-collapse: collapse;
}

.main th,
.main td {
  text-align: left;
  padding: 12px 16px;
}
.main tr {
  border-bottom: 1px solid #ddd;
}